.my-button {
  transition: all .3s ease-in-out, color 0.2s 0.3s;
  padding: .8em 2.1em;
  margin: 0.2em;
  margin-left: 10%;
  height: auto;
  width: 80%;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  
  color: rgba(255, 103, 68, 0.91);
  border: 2px solid rgba(255, 103, 68, 0.91) !important;
  background-color: #fff;
  border-radius: 45px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;

  text-align: center;
}

.my-button:hover {
  cursor: pointer;
  padding: .8em 2.7em;
  background-color: rgba(255, 103, 68, 0.91) !important;
  color: #fff;
  text-decoration: none;

  width: 90%;
  margin-left: 5%;
}

.my-button:active,
.my-button:focus,
.my-button.active {
background-image: none;
outline: 0;
-webkit-box-shadow: none;
        box-shadow: none;
} 